<div class="container-md mb-5">
  <form #mForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-warning" for="title">Movie Title:</label>
          <input id="title" type="text" class="form-control" required name="title" pattern="^[A-Űa-ű ]{5,25}$"
            [(ngModel)]="movie.title">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="text-warning" for="year">Release year:</label>
          <input id="year" type="text" class="form-control" required minlength="4" [pattern]="" maxlength="4"
            name="year" [(ngModel)]="movie.year">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">

          <label class="text-warning" for="category">Category</label>

          <select class="custom-select" [(ngModel)]="movie.category" id="category" name="category" required>
            <option selected>Choose Category</option>
            <option value="1">Drama</option>
            <option value="2">Action</option>
            <option value="3">Fantasy</option>
          </select>

        </div>
      </div>
      <div class="col-md-12">
        <button [disabled]="mForm.invalid ||movie.category=='Choose Category' " type="submit" class="btn  btn-warning "
          (click)="saveMovie()">
          Save
        </button>
      </div>
      <div *ngIf="mForm.invalid ||movie.category=='Choose Category'" class="col-md-12 m-2">
        <small class="text-danger">Fill all field to save!</small>
      </div>
    </div>





  </form>


</div>
